*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url("/assets/img/ZgqA4s.jpg");
    background-size: 230vh;
    color: white;
}
main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

.formulario { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__label {
    display: block;
    font-weight: 400;
    padding: 10px;
    cursor: pointer;
}
.formulario__grupo-input {
    position: relative;
}
.formulario__input {
    width: 100%;
    background: #ffffff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0px 40px 0px 10px;
    transition: .2s ease all;
}
.formulario__input:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163,163, .4);
}
.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0; 
    display: none;
}
.formulario__input-error-activo{
    display: block;
}
.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 10;
    color: black;
    font-size: 16px;
    opacity: 0;
}
.formulario__checkbox{
    margin-right: 10px;
}
.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn {
    grid-column: span 2;
}
.formulario__mensaje{
    height: 45px;
    text-align: center;
    color: black;
    line-height: 45px;
    background: #f66060;
    border-radius: 3px;
    display: none;
}
.formulario__mensaje-activo{
    display: block;
}
.formulario__mensaje p{
    margin: 0;
}
.formulario__grupo-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__grupo-btn .formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000000;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}
.formulario__grupo-btn .formulario__btn:hover{
    box-shadow: 3px 0px 30px rgba(163, 163,163, 1);
}
.formulario__mensaje-exito{
    font-size: 14px;
    color: #199200;
    display: none;
}
.formulario__mensaje-exito-activo{
    display: block;
}
/*Estilos para la validacion*/
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;

}
.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}
/*Mediaqueries*/

@media screen  and (max-width: 760px){
    .formulario{
        grid-template-columns: 1fr;
    }
    .formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn {
    grid-column: 1;
    }
 .formulario__grupo-btn .formulario__btn{
    width: 100%;
    }
} 